USE [master]
GO
/****** Object:  Database [post-office]    Script Date: 2/22/2024 11:03:15 AM ******/
CREATE DATABASE [post-office]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'post-office', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\post-office.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'post-office_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\post-office_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [post-office].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [post-office]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/22/2024 11:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[firstName] [varchar](50) NULL,
	[lastName] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[password] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
