.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.cartItem {
  width: 700px;
  height: 250px;
  display: flex;

  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
}

.cartItem img {
  width: 200px;
}

.cartItem .description {
  width: 100%;
  font-size: 30px;
}

.countHandler input {
  width: 30px;
  text-align: center;
  font-weight: bolder;
}

button {
  padding: 5px 5px;
  margin: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.packageRemove {
  background-color: rgb(218, 44, 78);
  font-size: 12px;
  padding:5px;
  margin-bottom:10px;
  margin:10px;
}

.packageRemove:hover {
  background-color: rgb(221, 0, 44);
}