.employees {
    font-family: Arial, sans-serif;
    margin: 30px;
    margin-top:100px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow:hidden;
    overflow-x: auto;
  }
  
  .employees h2 {
    color: #333;
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th, table td {
    text-align: left;
    padding: 8px;
    color: #555;
  }
  
  table th {
    background-color: #eee;
    color: #333;
  }
  
  table tr:nth-child(odd) {
    background-color: #fdfdfd;
  }
  
  table tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Style for the responsive table */
  @media screen and (max-width: 600px) {
    table {
      display: block;
      overflow-x: auto;
    }
  
    table th, table td {
      text-align: center;
    }
  }

.back-button {
    background-color: #007bff;
    color:#eee;
    padding:10px;
    border-radius: 10px;
    text-decoration: none;
}