/* LoginPage.css */

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.login-form-container {
  width: 100%;
  max-width: 450px;
  margin: auto;
  padding: 20px;
}

.login-card {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-form form {
  display: flex;
  flex-direction: column;
}

.username-input,
.password-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 5px;
  margin-bottom:30px;
}

.submit-button button {
  width: 100%; 
  padding: 10px; 
  border: none;
  background-color: #007bff; 
  color: white;
  border-radius: 5px; 
  cursor: pointer; 
  text-align: center;
}

.submit-button button:hover {
  background-color: #0056b3; 
}

.register-link {
  margin-top: 20px;
}

.register-link p {
  color: #333; 
  font-size: 14px;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

/* Container style for positioning - optional */
.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Base style for the select element */
select {
  appearance: none; /* Removes default system appearance */
  background-color: #f0f0f0; /* Light grey background */
  border: 2px solid #007bff; /* Blue border */
  padding: 10px 10px; /* Spacing inside the select box */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Changes the cursor to indicate it's clickable */
  outline: none; /* Removes the default focus outline */
  transition: all 0.3s ease; /* Smooth transition for hover and focus */
  max-width:80px;
}

/* Hover state */
select:hover {
  background-color: #e9e9e9; /* Slightly darker background on hover */
}

/* Focus state */
select:focus {
  border-color: #0056b3; /* Darker blue border to indicate focus */
  box-shadow: 0 0 0 2px rgba(0, 86, 179, 0.25); /* Subtle shadow to highlight focus */
}

/* Style for the options */
option {
  background-color: white; /* White background for dropdown options */
  color: #333; /* Dark text color for better readability */
}

