.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  margin:20px;
  background-color: #f2f2f2;
}

.registration-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff;
  padding: 2rem;
  max-width: 400px;
  width: 100%;
}

.registration-form h1 {
  color: #333;
  margin-bottom: 2rem;
  text-align: center;
}

.registration-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.registration-form label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #555;
}

.registration-form input {
  /* original padding was 10px 15px, changed to better fit in the register page, commented in case other jsx used this */
  padding: 7px 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1rem;
   width: 100%; 
  transition: border-color 0.2s;
}

.registration-form input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0,123,255,.25);
}

.registration-form button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  width: 95%;
  transition: background-color 0.2s;
  text-align: center;
}

.registration-form button:hover {
  background-color: #0056b3;
}

.registration-form p {
  text-align: center;
  margin-top: 1rem;
}

.registration-form a {
  color: #007bff;
  text-decoration: none;
}

.registration-form a:hover {
  text-decoration: underline;
}
