.shopTitle {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.shopTitle h3 {
  font-size: 32px;
  color: #333;
  font-weight: normal;
  margin-bottom: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product {
  width: 320px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  justify-content: space-between;
  align-items: center;
}

.product:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.product img {
  width: 300px;
  height: 150px;
  border-radius: 4px;
  object-fit: contain;
  background-color: #f7f7f7;
  align-self: center;
}


.product h5 {
  font-size: 16px;
  color: #2a2a2a;
}

.product p {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
}

.product button {
  width: 80%;
  padding: 8px;
  margin-left:28px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  display: block;
}

.product button:hover {
  background-color: #0056b3;
}
