.custom-header {
  background-color: #3d3d3d; /* Bootstrap primary color */
  color: #fff;
  padding: 0.2rem 0.1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030; /* Similar to Bootstrap's z-index for fixed navbars */
  display: flex;
  justify-content: center; /* Ensure the header content is centered */
  align-items: center;
}

.container {
  display: flex;
  justify-content: center; /* Center items within the container */
  align-items: center;
  max-width: 1060px;
  width: 100%; /* Ensure container takes full width for proper centering */
}

.header-brand {
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.menu-toggle {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #fff;
}

.header-nav {
  display: flex;
  justify-content: center; /* Center navbar items */
  width: 100%; /* Full width to ensure proper centering */
  gap: 20px; /* Adjust the gap as needed */
}

.header-nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease-in-out;
  margin-top:10px;
  margin-bottom:10px;
}

.header-nav a:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}

@media (max-width: 768px) {
  .header-nav {
    display: none; /* Hidden by default in smaller screens */
    flex-direction: column;
    align-items: center; /* Ensure items are centered in the column layout */
  }

  .header-nav.show {
    display: flex; /* Shown when menu toggle is clicked */
  }

  .menu-toggle {
    display: block; /* Show toggle button in smaller screens */
  }
}

.activeLink {
  background-color: #007bff;
  color: #fff !important;
}
