.fixed-header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 10; /* Ensure the header stays on top of other elements */
  background-color: #C0A889;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vh;
}

.fixed-header a {
  padding-right: 10px;
  padding-left: 10px;
}


body {
  background-color: #f2f2f2; /* Your desired background color */
  margin: 0;
  padding: 0;
  /* Add other global styles if needed */
}