.tracking-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    width: 60vw;
    padding: 2rem;
    /* margin:20px; */
    background-color: #f2f2f2;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.tracking-page{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0rem;
  margin:0px;
  background-color: #f2f2f2;
}

.tracking-info {
  background: #e9e9e9;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
}

.tracking-info > div {
  background: #fff;
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 5px;
  border-left: 5px solid #5cb85c;
}

/* Error message */
.error-message {
  color: #d9534f;
}

/* Placeholders for the status timeline */
.timeline-container {
  padding: 20px;
}

.timeline-milestone {
  display: flex;
  align-items: center;
}

.timeline-milestone:not(:last-child) {
  margin-bottom: 15px;
}

.timeline-icon {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background: #5cb85c;
  color: white;
  text-align: center;
  margin-right: 10px;
}

.timeline-line {
  flex-grow: 1;
  height: 2.5px;
  background: #ccc;
}

.timeline-text {
  margin-left: 10px;
}


.tracking-details {
  position: relative; 
  padding: 15px;
  background: white;
  margin-bottom: 10px; 
  font-size: 1rem;
  border-radius: 5px;
}

.tracking-details.recent {
  font-size: 1.1rem; 
}

.tracking-details.past {
  font-size: 0.85rem; 
}

.tracking-details p {
  margin: 5px 0; 
}

.tracking-details hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin-top: 15px; 
  margin-bottom: 15px; 
}



.tracking-details:not(:first-child)::before {
  content: '';
  position: absolute;
  top: -21px; 
  left: 50%; 
  width: 2px; 
  height: 20px; 
  background: green;
  z-index: 1;
}


.tracking-details:not(:first-child)::after {
  content: '';
  position: absolute;
  top: -24px; 
  left: calc(50% - 3.8px); 
  width: 10px; 
  height: 10px; 
  background: white;
  border-radius: 50%; 
  border: 2px solid green; 
  z-index: 2;
}

.tracking-details:first-child::after {
  display: none;
} 