.tracking-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    width: 40vw;
    padding: 2rem;
    margin:20px;
    background-color: #f2f2f2;

  }

  .tracking-page{
    display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  margin:20px;
  background-color: #f2f2f2;

  }
