.tracking-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    width: 60vw;
    padding: 2rem;
    margin:20px;
    background-color: #f2f2f2;
}

.tracking-page{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0rem;
  margin:0px;
  background-color: #f2f2f2;
}
