.inner {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd; 
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.add-vehicle-link {
  display: inline-block;
  background-color: #0d6efd; 
  color: white;
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 5px; 
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.add-vehicle-link:hover {
  background-color: #0b5ed7;
}

.add-vehicle-div {
  text-align: center;
}

.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-color: #f4f4f4;
}

.vehicle-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.vehicle-card h2 {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.vehicle-card form {
  display: flex;
  flex-direction: column;
}

.vehicle-card label {
  margin-bottom: 5px;
  color: #313131;
}

.vehicle-card input[type="text"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.vehicle-card button {
  cursor: pointer;
  background-color: #0d6efd;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.vehicle-card button:hover {
  background-color: #0b5ed7;
}
