.login-page {
  display: flex; /* Enable flexbox layout */
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center elements horizontally */
  justify-content: center; /* Center elements vertically */
  min-height: 30vh; /* Ensure viewport height */
  padding: 50px 0; /* Add top and bottom padding */
}

.login-form-container {
  width: 40rem;
}

.login-form {
  padding: 20px;
  text-align: center;
}

.username-input,
.password-input {
  width: 200px;
  margin-bottom: 10px;
}

.submit-button {
  display: flex;
  justify-content: center;
}

.register-link {
  text-align: center;
  padding-top: 10px;
}

.login-card {
  /* Optional: Center the card horizontally */
  margin: 0 auto;
  width: 300px; /* Adjust width as needed */
  padding: 20px;
  border: 1px solid #ccc; /* Add a border */
  border-radius: 5px; /* Add rounded corners */
  background-color: #f5f5f5; /* Add background color */
}