.fixed-header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 10; /* Ensure the header stays on top of other elements */
  background-color: #C0A889;
  padding: 20px;
  display: flex; /* Enable flexbox layout */
  justify-content: space-between; /* Distribute elements horizontally */
  align-items: center; /* Align elements vertically */
}

.fixed-header a {
  float: right;/* Adjust padding as needed */
}